html{

}

body {
  font-size: 15px;
  height: 100%;
  background: url('/public/images/underwater.jpg') no-repeat center center fixed;
  margin: 0px;
  padding: 0px;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

/*******************************
          UI Overrides
*******************************/

.team {
  margin-bottom: 50px;
}

.reorder {
  color: white;
}

.user {
  color: white;
}

.github {
  color: white;
}

.linkedin {
  color: white;
}

.ui.header {
  font-family: 'Idlewild A', 'Idlewild B';
  font-weight: 300;
  font-style: normal;
}

.ui.header,
h1,
h2 {
  font-weight: normal !important;
  color: #AEE9EF;
}

h1.ui.header {
  font-size: 5em;
  color: #AEE9EF;
}

h2.ui.header {
  font-size: 4em;
  color: white;
}

h3.ui.header {
  font-size: 3em;
  color: white;
}

h4.ui.header
.ui.icon.header {
  font-weight: bold !important;
}

h5.ui.header {
  font-size: .95em;
  line-height: 150%;
}

.ui.button.playbutton {
  line-height: 100%;
  font-size: 1.3em;
  padding: 25px 85px;
}

#amber-elk-header {
  color: white;
  font-family: 'Idlewild A', 'Idlewild B';
  font-weight: 600;
  font-style: normal;
}

#deep-header {
  color: #AEE9EF;
  font-family: "Andale Mono", AndaleMono, monospace;
  line-height: 150%;
  text-transform: uppercase;
  display: block;
  font-style: normal;
}

.about-name{
  color: #AEE9EF;
  font-family: "Andale Mono", AndaleMono, monospace;
  line-height: 150%;
  text-transform: uppercase;
  display: block;
  font-style: normal;  
}

.ui.button {
  font-weight: normal;
  text-decoration: none;
}

a {
  color: #009FDA;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #00BAFF;
}

p a {
  font-weight: bold;
}

/*******************************
            Global
*******************************/

.commentbox {
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.userScore {
  font-family: "Andale Mono", AndaleMono, monospace;
  color: #AEE9EF;
  font-size: 30px;
  text-align: left;
  margin-bottom: 50px;
  padding-left: 35px;
}

.userName {
  font-family: "Andale Mono", AndaleMono, monospace;
  color: white;
  font-size: 30px;
  text-align: right;
  margin-bottom: 50px;
  padding-left: 35px;
}

p {
  font-family: "Andale Mono", AndaleMono, monospace;
  line-height: 150%;
  text-transform: uppercase;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.menu .right.menu > .mobile.item {
  display: none;
}

.ui.page.grid {
  padding: 0 0%;
}

.ui.page.grid.segment {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.masthead.segment {
  background-image: url(images/bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0em;
  padding-top: 4rem;
  overflow: hidden;
  -webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
  box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
}

.masthead.segment .column {
  position: relative;
}

.masthead.segment .information {
  margin: 3em 1em 1em 280px;
}

.masthead.segment .information p {
  max-width: 600px;
  margin: 0em 0px 2em 0em;
  font-size: 1.2em;
}

.masthead.segment h1.ui.header .sub {
  font-size: 0.7em;
}

.masthead.segment .image {
  position: absolute;
  left: 0%;
  bottom: -110px;
}

.overview .divided.grid .header + p {
  min-height: 100px;
}

.ui.shape .icon,
.link.list .icon {
  margin: 0em;
  padding: 0em;
}

.ui.cube.shape .side {
  background-color: transparent;
}

/* Left will inherit from right (so we don't need to duplicate code) */
.github-fork-ribbon {
  /* The right and left classes determine the side we attach our banner to */
  position: absolute;

  /* Add a bit of padding to give some substance outside the "stitching" */
  padding: 2px 0;

  /* Set the base colour */
  background-color: #a00;

  /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));

  /* Add a drop shadow */
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);

  /* Set the font */
  font: 700 13px "Helvetica Neue", Helvetica, Arial, sans-serif;

  z-index: 9999;
  pointer-events: auto;
}

.github-fork-ribbon a,
.github-fork-ribbon a:hover {
  /* Set the text properties */
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  text-align: center;

  /* Set the geometry. If you fiddle with these you'll also need
     to tweak the top and right values in .github-fork-ribbon. */
  width: 200px;
  line-height: 20px;

  /* Set the layout properties */
  display: inline-block;
  padding: 2px 0;

  /* Add "stitching" effect */
  border-width: 1px 0;
  border-style: dotted;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.7);
}

.github-fork-ribbon-wrapper {
  width: 150px;
  height: 150px;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 9999;
  pointer-events: none;
}

.github-fork-ribbon-wrapper.fixed {
  position: fixed;
}

.github-fork-ribbon-wrapper.right {
  right: 0;
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon {
  top: 42px;
  right: -43px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*******************************
          Responsive
*******************************/

/* Mobile Only */

@media only screen and (max-width : 768px) {
  .ui.page.grid.segment {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .menu .right.menu > .item {
    display: none;
  }

  .menu .right.menu > .mobile.item {
    display: block;
  }

  h1.ui.header {
    font-size: 1.5em;
  }

  .masthead.segment {
    -webkit-background-size: auto;
    background-size: auto;
  }

  .masthead.segment .information {
    margin-left: 190px;
  }

  .masthead.segment .image {
    bottom: -65px;
    width: 150px;
  }

  .masthead.segment .button {
    font-size: 1rem;
  }

  .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  .overview .divided.grid .header + p {
    min-height: 0px;
  }

  .masthead.segment .column {
    font-size: 0.7rem;
  }

  .masthead.segment .column p {
    display: none;
  }

  .selection.list .right.floated {
    display: none;
  }
}

@media only screen and (max-width : 1000px) {

}
